services:
  mysql:
    image: mysql:8.4.5
    container_name: server-package_mysql
    restart: unless-stopped
    privileged: true
    ports:
      - 3306:3306
    environment:
      MYSQL_ROOT_PASSWORD: 12345
    volumes:
      - /data/server-package/mysql:/var/lib/mysql
    command: --mysql-native-password=ON

  mongo:
    image: mongo:6.0.23
    container_name: server-package_mongo
    restart: unless-stopped
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 12345
    volumes:
      - /data/server-package/mongo/db:/data/db
      - /data/server-package/mongo/config:/data/config

  emqx:
    image: emqx/emqx:latest
    container_name: server-package_emqx
    restart: unless-stopped
    privileged: true
    healthcheck:
      test: ["CMD", "/opt/emqx/bin/emqx_ctl", "status"]
      interval: 5s
      timeout: 25s
      retries: 5
    ports:
      - 0.0.0.0:1883:1883
      - 0.0.0.0:8083:8083
      - 0.0.0.0:8084:8084
      - 0.0.0.0:8883:8883
      - 0.0.0.0:18083:18083

  minio:
    image: quay.io/minio/minio
    container_name: server-package_minio
    restart: unless-stopped
    privileged: true
    ports:
      - 9000:9000
      - 9001:9001
    volumes:
      - /data/server-package/minio/data:/mnt/data
      - ./server/configs/minio.env:/etc/config.env
    environment:
      MINIO_CONFIG_ENV_FILE: /etc/config.env
    command: server /mnt/data --console-address ":9001"

  default:
    container_name: server-package_default
    build:
      context: ./
    privileged: true
    ports:
      - 4001:4000
    depends_on:
      - mongo
      - mysql
      - emqx
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /usr/bin/docker:/usr/bin/docker:ro
      - /usr/bin/com.docker.cli:/usr/bin/com.docker.cli:ro
      - /usr/local/bin/docker-compose:/usr/local/bin/docker-compose:ro
      - /tmp:/tmp
